@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  height: 100%;
}
.ib {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
ul {
  padding-left: 20px;
}
body {
  font-family: 'Roboto', sans-serif;
  /*background-image:url("bg4.png");*/
  background-color: rgba(232, 232, 232, 0.2);
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
textarea {
  resize: none;
  width: 40%;
  background-color: rgba(232, 232, 232, 0.5);
}
main {
  width: 70%;
  margin: 0 auto;
  flex: 1 0 auto;
}
a,
.fact {
  color: #cc8787;
  text-decoration: none;
}
a:hover,
.fact:hover {
  text-decoration: none;
  color: #885a5a;
  cursor: pointer;
}
.fact {
  font-weight: bold;
  font-size: 125%;
}
.instr {
  display: none;
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
}
.italic {
  font-style: italic;
  font-size: 80%;
  color: grey;
}
input {
  border: none;
  border-bottom: 2px solid #bdafaf;
  margin-bottom: 10px;
  padding-left: 5px;
  background-color: rgba(232, 232, 232, 0.5);
}
input:focus {
  border-bottom: 2px solid #1c180b;
}
input[type="submit"],
button {
  height: 40px;
  padding: 10px;
  padding-top: 7px;
  background: none;
  transition: 0.5s;
  border: none;
  border: 2px solid #bdafaf;
  font-weight: bold;
  vertical-align: top;
  transition: 0.4s;
}
input[type="submit"]:hover,
button:hover {
  border: 2px solid #1c180b;
  cursor: pointer;
}
input[type="file"] {
  opacity: 0;
  width: 300px;
  height: 60px;
}
input[type="file"]:hover {
  cursor: pointer;
}
h5 {
  line-height: 1;
}
search {
  display: none;
}
.mid {
  width: 200px;
  margin: 0 auto;
}
.mid__wider {
  width: 600px;
}
header {
  width: 100%;
  vertical-align: top;
  margin-bottom: 30px;
  color: white;
}
.nav-menu {
  display: inline-block;
}
.nav-menu_menu-holder {
  width: 100%;
  display: none;
  height: 50px;
  padding-top: 13px;
}
.nav-menu_img {
  width: 12px;
}
.nav-menu_img__up-down {
  position: absolute;
  top: 4px;
  right: 15px;
}
.nav-menu_sub-btn {
  width: 100%;
  height: 50px;
  background-color: #1c0e00;
  padding: 13px 0 13px 0;
  color: white;
}
.nav-menu_sub-btn:hover {
  background-color: rgba(9, 6, 0, 0.8);
  border-bottom: none;
}
.nav-menu_in-btn {
  position: absolute;
  display: none;
  width: 100%;
  top: 50px;
  left: 0;
  padding-top: 10px;
  z-index: 5;
}
.nav-menu_nav-men:hover .nav-menu_in-btn {
  display: block;
}
.nav-menu_nav-men {
  display: inline-block;
  height: 50px;
  padding: 15px;
  margin-left: -5px;
  text-align: center;
  color: #e7e7e7;
  position: relative;
}
.nav-menu_nav-men:hover {
  cursor: pointer;
  color: white;
  font-weight: 500;
}
.nav-menu_nav-men__nav-edge {
  border-right: none;
}
.mid-head {
  display: inline-block;
  background-color: #1c180b;
  height: 50px;
  padding-bottom: 5px;
  vertical-align: top;
  border-bottom: 2px solid rgba(232, 232, 232, 0.5);
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  position: relative;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
}
.logo {
  height: 100%;
  width: 14%;
  display: inline-block;
  vertical-align: top;
}
.logo_img,
.logo_txt {
  height: 90%;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}
.logo_txt {
  padding: 10px;
  padding-right: 0;
}
.logo_txt:hover {
  cursor: default;
}
.searcher {
  position: absolute;
  height: 50px;
  top: 60px;
  left: 17%;
  width: 60%;
  background-color: #1c180b;
  padding: 5px;
  display: none;
  z-index: 5;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
}
.searcher_field {
  display: inline-block;
  height: 100%;
  color: grey;
  padding: 7px;
  text-align: center;
  flex-grow: 1;
  margin-right: 5px;
}
.searcher_field:hover {
  cursor: pointer;
  color: white;
}
.searcher_field__checked {
  background-color: #e8e8e8;
  font-weight: bold;
  color: black;
}
.searcher_field__checked:hover {
  color: black;
}
.searcher_input {
  vertical-align: top;
  flex-grow: 7;
  height: 40px;
  margin-right: 5px;
}
.searcher_btn {
  vertical-align: top;
  flex-grow: 1;
  color: white;
}
.searcher_btn:hover {
  color: #cc8787;
}
.switcher {
  background-color: rgba(232, 232, 232, 0.3);
  height: 34px;
  border-radius: 15px;
  width: 120px;
  margin-bottom: 10px;
  border: 2px solid #bdafaf;
}
.switcher_arm {
  display: inline-block;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(232, 232, 232, 0.4);
  padding: 4px;
  width: 80px;
  border-right: 1px solid #bdafaf;
}
.switcher_arm__inv {
  display: none;
}
.switcher_arm:hover {
  cursor: pointer;
}
.switcher_arm:hover > label {
  cursor: pointer;
}
.switcher_arm__right {
  margin-left: 40px;
  border-left: 1px solid #bdafaf;
  border-right: none;
}
.switcher_radio {
  visibility: hidden;
}
.switcher_label {
  width: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
}
.video {
  display: inline-block;
  width: 14%;
  margin-right: 2%;
  margin-bottom: 10px;
  vertical-align: top;
  height: 160px;
}
.video-js {
  height: 40vw;
  width: 100%;
}
.video:hover {
  cursor: pointer;
}
.video:hover .video_preview {
  filter: brightness(90%);
}
.video_preview {
  width: 100%;
  height: 5.5vw;
  background-color: black;
  text-align: center;
}
.video_preview-img {
  height: 100%;
}
.video_title {
  font-weight: bold;
  font-size: 90%;
  margin-bottom: 3px;
  overflow: hidden;
  max-height: 42px;
}
.video__ath:hover {
  font-weight: bold;
}
.video-titling {
  height: 50px;
}
.video-titling_title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 120%;
  display: inline-block;
}
.video-titling_views {
  display: inline-block;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
.video-rating {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  float: right;
}
.video-rating_rateline {
  height: 3px;
  margin-bottom: 5px;
}
.video-rating_like-line,
.video-rating_dis-line {
  display: inline-block;
  height: 3px;
  width: 50%;
  vertical-align: top;
}
.video-rating_like-line {
  background-color: green;
}
.video-rating_dis-line {
  background-color: red;
  margin-left: -6px;
  float: right;
}
.video-rating_btn {
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(0, 0, 0, 0);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
}
.video-rating_btn:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  background-size: 41%;
  cursor: pointer;
}
.video-comments {
  border-top: 2px solid #bdafaf;
  margin-top: 10px;
  padding-top: 10px;
}
.comment {
  height: 100px;
  margin-bottom: 15px;
  max-width: 50%;
}
.comment div {
  display: inline-block;
}
.comment_ava {
  height: 100px;
  width: 100px;
  margin-right: 15px;
  vertical-align: top;
  overflow: hidden;
}
.comment_ava-img {
  height: 100%;
  min-width: 100%;
}
.comment_author {
  color: black;
  font-weight: bold;
  font-size: 110%;
}
.tag {
  background-color: #bdafaf;
  color: white;
  border-radius: 10px;
  padding: 3px;
  margin-right: 5px;
}
.tag:hover {
  border: 2px solid #bdafaf;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #bdafaf;
  margin-right: 1px;
  font-weight: bold;
}
.loader {
  width: 300px;
  height: 60px;
  background-image: url("Loader3.png");
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.result-video {
  z-index: 5;
  position: absolute;
  display: none;
}
.canal {
  height: 70vh;
  position: absolute;
  top: 15vh;
  width: 70%;
  overflow-y: auto;
  background-color: rgba(232, 232, 232, 0.8);
}
.solid {
  background-color: rgba(28, 24, 11, 0.8);
  vertical-align: top;
  padding: 7px;
  width: 100%;
  padding-bottom: 0;
  color: #e7e7e7;
}
.tabs_tab {
  display: inline-block;
  padding: 7px;
  cursor: pointer;
  margin-left: -4px;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
}
.tabs_tab__open {
  border-bottom: 4px solid #e8e8e8;
}
.tabs_tab__edge {
  margin-left: 0;
}
.section {
  display: none;
  width: 100%;
  padding: 7px;
}
.section__open {
  display: block;
}
.section__settings {
  background-color: rgba(28, 24, 11, 0.7);
  min-height: 100%;
  color: #e7e7e7;
}
.section_set {
  margin-bottom: 10px;
}
.section_set-left {
  display: inline-block;
  width: 110px;
}
.buttondlc {
  color: #e7e7e7;
}
.profile {
  height: 100px;
  margin-bottom: 20px;
}
.profile_subscribe-btn {
  color: white;
}
.profile_subscribe-btn:hover {
  color: #cc8787;
}
.profile_ava {
  height: 100%;
  width: 100px;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
  border: 4px solid rgba(255, 255, 255, 0.5);
}
.profile_ava-img {
  min-width: 100%;
  height: 100%;
}
.profile_txt {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 300px;
}
.profile_sub {
  float: right;
  height: 40px;
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
}
.profile_sub-count {
  line-height: 40px;
  margin-right: 10px;
}
.profile__small {
  height: 50px;
  display: inline-block;
}
.profile__small .profile_ava {
  width: 50px;
}
.profile__small .profile_sub {
  margin-top: 0;
}
.profile__small .profile_txt {
  width: auto;
  margin-right: 20px;
}
.profile__small .profile_subscribe-btn {
  color: black;
}
.profile__small .profile_subscribe-btn:hover {
  color: #cc8787;
}
.footer_line {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  height: 20px;
  width: 43%;
}
.footer_line__right {
  text-align: right;
}
.footer_line__left {
  text-align: left;
}
.footer__creator {
  margin: 0;
}
.footer_contact {
  margin-bottom: 10px;
  display: inline-block;
  width: 11%;
  text-align: center;
}
.footer_contact__edge {
  margin-right: 0;
}
.footer_contact__edge:hover {
  margin-left: -1px;
  margin-right: 0;
}
.footer_contact__text {
  display: inline-block;
  margin-right: 10px;
}
.footer_img {
  height: 30px;
  margin-right: 10px;
  transition: 0.1s;
  vertical-align: top;
  filter: brightness(75%);
}
.footer_img:hover {
  cursor: pointer;
  filter: brightness(100%);
}
footer {
  width: 70%;
  margin: 0 auto;
  flex: 0 0 auto;
  font-weight: bold;
  border-top: 2px solid rgba(232, 232, 232, 0.3);
  transition: 0.3s;
  padding-top: 10px;
}
footer div,
footer span {
  transition: 0.2s;
  opacity: 0.5;
}
footer:hover div,
footer:hover span {
  opacity: 1;
}
@media (max-width: 1065px) {
  .mid-head {
    height: 100%;
    padding-bottom: 0;
  }
  main,
  .logo {
    width: 100%;
  }
  main {
    padding: 7px;
  }
  .nav-menu {
    text-align: center;
    border-top: 2px solid rgba(232, 232, 232, 0.5);
    width: 100%;
  }
  .nav-menu_nav-men:hover {
    border: none;
    display: inline-block;
  }
  .logo {
    margin: 0 auto;
    height: 50px;
    display: block;
    text-align: center;
  }
  .video {
    width: 18%;
  }
  .video_preview {
    height: 10.125vw;
  }
  .searcher {
    top: 110px;
    width: 100%;
    left: 0;
  }
  .canal {
    position: static;
    width: 100%;
  }
  footer {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 860px) {
  .video-rating {
    display: block;
    float: none;
    margin-bottom: 10px;
    text-align: center;
  }
}
@media (max-width: 570px) {
  body {
    text-align: center;
  }
  .searcher {
    height: 100px;
    z-index: 2;
    top: 310px;
  }
  .searcher_input {
    display: block;
    width: 100%;
  }
  .searcher_btn {
    width: 45%;
  }
  .nav-menu_nav-men {
    display: none;
    border-right: none;
    border-bottom: 1px solid rgba(232, 232, 232, 0.5);
  }
  .nav-menu_menu-holder {
    display: block;
  }
  .switcher {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: left;
  }
  .profile {
    height: auto;
    width: 100%;
  }
  .profile_ava {
    height: 100px;
  }
  .profile_sub {
    float: none;
    margin-top: 0;
  }
  .profile__small .profile_ava {
    height: 50px;
  }
  .comment,
  .video-info,
  textarea,
  .tabs_tab {
    width: 100%;
  }
  .comment {
    max-width: 100%;
    text-align: left;
  }
  .video {
    width: 80%;
    margin: 0 auto;
    display: block;
    height: auto;
  }
  .video-titling,
  .video-info {
    text-align: left;
  }
  .video_preview {
    height: 45vw;
  }
  .tabs_tab {
    display: block;
    border: none;
    margin-left: 0px;
  }
  .tabs_tab__open {
    font-weight: bold;
  }
  .mid__wider {
    width: 90%;
  }
  ul {
    text-align: left;
  }
}
