@import url('https://fonts.googleapis.com/css?family=Roboto');

body
{
  font-family: 'Roboto', sans-serif;
  background-color: white;
  background-image:url("bg4.png");
}

header
{
  margin-bottom: 23px;
  height: 50px;
  margin-top: -8px;
  width: 100%;
}

a
{
    text-decoration:none;
    color:black;
}

a:hover
{
    text-decoration:none;
    color:#714707;
}

input
{
    border:none;
    border-bottom:2px solid #ffb366;
    margin-bottom:10px;
    padding-left:5px;
}

input[type="submit"]
{
    height:40px;
    padding:10px;
    padding-top:8px;
    background-color:#f0cb8e;
    transition:0.5s;
    border:none;
    border-bottom:2px solid #ffb366;
    font-weight:bold;
}

input[type="file"]
{
    opacity:0;
    width:300px;
    height:150px;
}

.Loader
{
    width:300px;
    height:150px;
    background-image:url("Loader.png");
    margin-bottom:10px;
}

input[type="file"]:hover
{
    cursor:pointer;
}

.Logo,.midHead,.Menu
{
  display: inline-block;
  background-color: #F7E2C0;
  height: 100%;
  padding-bottom: 5px;
  vertical-align: top;
}
.Logo,.Menu
{
  width: 19.5%;
  padding-left: 1%;
}

.Logo
{
  margin-right: 0.5%;
}



.LogoImg,.LogoTxt
{
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top:5px;
}
.LogoTxt
{
  padding: 10px;
}
.LogoTxt:hover
{
  cursor: default;
}

.midHead
{
  width: 60%;
  margin-left: -4px;
  margin-right: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
}
.Menu
{
  margin-left: -5px;
  transition: 0.5s;
  text-align: center;
  padding-top: 15px;
  position: relative;
  font-size: 120%;
}
.Menu:hover
{
  background-color: #ffcc99;
  cursor: pointer;
}

.Menu:hover .menuBtn
{
  display: block;
}

.inMenu
{
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  padding-top: 23px;
}

.menuBtn
{
  transition: 0.5s;
  width: 100%;
  height: 40px;
  padding: 1%;
  padding-left:15px;
  text-align: left;
  background-color: #F7E2C0;
  display: none;
  padding-top: 8px;
  color:black;
}

.menuBtn:hover,.tokenBtnMid:hover,.tokenBtnEdge:hover,input[type="submit"]:hover
{
  background-color:rgba(240, 203, 142,0.5);
  cursor: pointer;
  color:black;
}

.menuImg
{
    height:90%;
    vertical-align:top;
    float:right;
}

.menuTxt
{
    display:inline-block;
    transition:0.5s;
}

.menuBtn:hover > .menuTxt
{
    margin-left:10px;
}



main
{
  width: 60%;
  margin: 0 auto;
}

.Content
{
  width: 100%;
  background-color: #F7E2C0;
  padding: 1.66%;
  margin-bottom: 15px;
}

.video
{
    display:inline-block;
    width:150px;
    height:200px;
}

.video:hover
{
   cursor: pointer;
}

.preview
{
   display:block;
   width:100%;
   height:90px;
}

.videoName
{
    font-weight:bold;
    font-size:90%;
    margin-bottom:3px;
}

.videoAth,.videoView
{
    font-style:italic;
    font-size:80%;
    margin-bottom:3px;
}

.videoAth:hover
{
    font-weight:bold;
}

.Comment
{
    height:100px;
    margin-bottom:15px;
}

.commAva
{
    height:100%;
    margin-right:15px;
    vertical-align:top;
}

.commTxt
{
    display:inline-block;
}

.videoShow
{
   background-color:black;
   width:100%;
   height:400px;
}

.videoTitle
{
    margin-top:10px;
    margin-bottom:10px;
    font-size:120%;
    border-bottom:2px solid #ffcc99;
}


footer
{
  width: 60%;
  margin: 0 auto;
}

.Foot{
  width: 100%;
  padding: 1.66%;
  background-color: #F7E2C0;
  font-weight:bold;
  /*background: linear-gradient(to bottom, #c8d5e6, #dbe7f0);*/
}

.Contact
{
   margin-bottom:10px;
   height:41px;
}

.contImg
{
    height:40px;
    margin-right:10px;
    transition: 0.1s;
    vertical-align:top;
}

.contImg:hover
{
    height:41px;
    cursor:pointer;
    margin-right:9px;
}

.INP
{
    width:300px;
    margin:0 auto;
}



.token
{
    width:70%;
    margin:0 auto;
    height:40px;
}

.tokenTxt
{
    width:50%;
    height:100%;
    display:inline-block;
    background-color:#fff3e6;
    padding-top:10px;
    vertical-align:top;
    text-align:center;
}

.tokenBtnEdge
{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-left:1px solid black;
}
.tokenBtnEdge,.tokenBtnMid
{
    display:inline-block;
    width:24%;
    background-color:#ffcc99;
    height:100%;
    vertical-align:top;
    margin-left:-5px;
    text-align:center;
    padding-top:10px;
}

@media (max-width:1050px)
{
    .Logo,.midHead,.Menu
    {
      width:100%;
      margin-bottom:10px;
      height:50px;
      margin-right:0%;
      margin-left:0%;
    }
    
    .Logo
    {
      text-align:center;
    }

    header
    {
      height:180px;
    }
    
    main,footer
    {
      width:100%;
    }
    .inMenu
    {
      background-color:rgba(0, 0, 0,0.5);
      padding-bottom:10px;
      display: none;
    }
    .Menu:hover > .inMenu
    {
      display: block;
    }
    .menuBtn:hover
    {
      background-color:rgba(240, 203, 142,1);
    }
}

=======

.content{
    width: 100%;
    margin: auto;
}

.content0{
    width: 100%;
    height: 210px;
    border-radius: 20px;
    margin: auto;
    background-color: #faebd7;
}

.z1{
    display: inline-block;
    background-color: #faebd7;
    border-radius: 6px; 
    padding: 2px;
    cursor: pointer;
}

.z2{
    display: inline-block;
    background-color: #ffcc99;
    border-radius: 6px;
    padding: 2px;
    cursor: pointer;
}

.con{
    display: none;
    padding: 4px;
}

.con2{
    display: block;
    padding: 4px;
} 

.ava{
    border-radius: 40px;
    padding-left: 5px;
    padding-top: 5px;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.ava2{           
    display: inline-block;
}

.set{
    margin: 10px 0;
}

.but{
  background-color: #ffcc99;
  border-radius: 6px; 
}    

.info{
    font-style: italic;
}

.b{
    font-weight: 600;
}
