.switcher
{
  background-color: fade(@color-secondary,30);
  height: 34px;
  border-radius:15px;
  width: 120px;
  margin-bottom: 10px;
  border: 2px solid @color-border;
  &_pill
  {
    display:inline-block;
    height:30px;
    border-radius: 15px;
    text-align:center;
    background-color: fade(@color-secondary,40);
    padding:4px;
    width: 80px;
    border-right: 1px solid @color-border;
    &__right
    {
      margin-left: 40px;
      border-left: 1px solid @color-border;
      border-right: none;
    }
  }
  &_arm
  {
    display:inline-block;
    width: 100%;
    height: 100%;
    &__inv
    {
      display:none;
    }
    &:hover
    {
      cursor: pointer;
    }
    &:hover > label
    {
      cursor:pointer;
    }
  }
  &_radio
  {
    visibility:hidden;
  }
  &_label
  {
    width: 100%;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
  }
}
.video
{
  display:inline-block;
  width:14%;
  margin-right:2%;
  margin-bottom:10px;
  vertical-align: top;
  height: calc(8% + 100px);
  &-js
  {
    height: 40vw;
    width: 100%;
  }
  &:hover
  {
    cursor: pointer;
  }
  &:hover &_preview
  {
    filter: brightness(90%);
  }
  &_preview
  {
    width: 100%;
    height: 5.5vw;
    background-color: black;
    text-align: center;
    &-img
    {
      height: 100%;
    }
  }
  &_title
  {
    font-weight:bold;
    font-size:90%;
    margin-bottom:3px;
    overflow:hidden;
    max-height:42px;
  }
  &__ath:hover
  {
    font-weight: bold;
  }
  &-titling
  {
    height:50px;
    &_title
    {
      margin-top:10px;
      margin-bottom:10px;
      font-size:120%;
      display:inline-block;
    }
    &_views
    {
      display:inline-block;
      float:right;
      margin-top:10px;
      margin-bottom:10px;
    }
  }
  &-rating
  {
    display:inline-block;
    vertical-align:top;
    margin-bottom:10px;
    float: right;
    &_rateline
    {
      height:3px;
      margin-bottom:5px;
    }
    &_like-line,&_dis-line
    {
      display:inline-block;
      height:3px;
      width:50%;
      vertical-align:top;
    }
    &_like-line
    {
      background-color:green;
    }
    &_dis-line
    {
      background-color:red;
      margin-left:-6px;
      float:right;
    }
    &_btn
    {
      background-size:40%;
      background-repeat:no-repeat;
      background-position:center;
      color:rgba(0,0,0,0);
      border:none;
      background-color:rgba(0,0,0,0);
      width:40px;
      height: 22px;
      display: inline-block;
      vertical-align: top;
      &:hover
      {
        background-color:rgba(0,0,0,0);
        color:rgba(0,0,0,0);
        background-size:41%;
        cursor: pointer;
      }
    }
  }
  &-comments
  {
    border-top:2px solid @color-border;
    margin-top:10px;
    padding-top:10px;
    &_refresh-btn
    {
      display: block;
      margin-bottom: 10px;
    }
  }
  &-control
  {
    border: 1px solid @color-border;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 10px;
    &_img
    {
      width: 100%;
      &-changing
      {
        width: 100%;
        position: absolute;
        top: -100%;
        left: 0;
        &__other
        {
          top:0;
        }
      }
    }
    &_btn
    {
      border-radius: 5px;
      background-color: fade(@color-secondary,40);
      box-shadow: 2px 2px 3px fade(@color-main,50);
      border: none;
      transition: 0.2s;
      &:hover
      {
        border: none;
        box-shadow: 1px 1px 3px fade(@color-main,50);
      }
      &:active, &:focus
      {
        outline: 0;
        outline-offset: 0;
      }
      &:active
      {
        box-shadow: 0 0 3px fade(@color-main,50);
      }
      &__round
      {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 0;
        overflow: hidden;
        position: relative;
      }
      &__disabled,&__disabled:active,&__disabled:hover
      {
        filter: brightness(75%);
        box-shadow: 0px 0px 3px fade(@color-main,50);
      }
    }
  }
}
.comment
{
  height:100px;
  margin-bottom:15px;
  max-width:50%;
  div
  {
    display: inline-block;
  }
  &_ava
  {
    height:100px;
    width:100px;
    margin-right:15px;
    vertical-align:top;
    overflow:hidden;
    &-img
    {
      height: 100%;
      min-width: 100%;
    }
  }
  &_author
  {
    color:black;
    font-weight:bold;
    font-size:110%;
  }
  &__poster
  {
    margin-bottom: 55px;
    textarea
    {
      width: 200%;
    }
  }
}
.tag
{
  background-color:@color-border;
  color:white;
  border-radius:10px;
  padding:3px;
  margin-right:5px;
  &:hover
  {
    border:2px solid @color-border;
    background-color:rgba(0,0,0,0);
    cursor:pointer;
    color:  @color-border;
    margin-right:1px;
    font-weight:bold;
  }
}

.loader
{
    width:300px;
    height:60px;
    background-image:url("Loader3.png");
    background-repeat:no-repeat;
    margin-bottom:10px;
}

.calibration-image
{
  position: fixed;
  width: 110%;
  height: 110%;
  z-index: 5;
}

.result-video
{
    z-index:5;
    position:absolute;
    display:none;
}

.canal
{
  height: 70vh;
  position: absolute;
  top: 15vh;
  width: 70%;
  overflow-y: auto;
  background-color: fade(@color-secondary,80);
}

.solid
{
    background-color:fade(@color-main,80);
    vertical-align: top;
    padding: 7px;
    width: 100%;
    padding-bottom: 0;
    color: #e7e7e7;
}

.tabs
{
  &_tab
  {
    display: inline-block;
    padding: 7px;
    cursor: pointer;
    margin-left: -4px;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    &__open
    {
      border-bottom: 4px solid @color-secondary;
    }
    &__edge
    {
      margin-left: 0;
    }
  }
}

.section
{
  display: none;
  width: 100%;
  padding: 7px;
  &__open
  {
    display: block;
  }
  &__settings
  {
    background-color:fade(@color-main,70);
    min-height: 100%;
    color:#e7e7e7;
  }
  &_set{
    margin-bottom: 10px;
    &-left
    {
      display: inline-block;
      width: 110px;
    }
  }
}

.buttondlc{
    color:#e7e7e7;
}

.profile
{
  height: 100px;
  margin-bottom: 20px;
  &_subscribe-btn
  {
    color: white;
    &:hover
    {
      color: @color-link;
    }
    &__sub-list
    {
      color: black;
    }
  }
  &_ava
  {
    height: 100%;
    width: 100px;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
    border: 4px solid rgba(255,255,255,0.5);
    &-img
    {
      min-width: 100%;
      height: 100%;
    }
  }
  &_txt
  {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 300px;
  }
  &_sub
  {
    float: right;
    height: 40px;
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
    &-count
    {
      line-height: 40px;
      margin-right: 10px;
    }
  }
  &__small
  {
    height: 50px;
    display: inline-block;
  }
  &__small &_ava
  {
    width: 50px;
  }
  &__small &_sub
  {
    margin-top: 0;
  }
  &__small &_txt
  {
    width: auto;
    margin-right: 20px;
  }
  &__small &_subscribe-btn
  {
    color: black;
    &:hover
    {
      color: @color-link;
    }
  }
}
