<!DOCTYPE html>
<html>
<head>
    <title>Hoe</title>
</head>
<body>
    <h2>Вход</h2>
    {{form.hidden_tag()}}
     <form action="" method="post">
        <div>{{ form.login_log.label}}</div>
        <div>{{ form.login_log(rows=5, cols=60) }}</div>
        {% if form.login_log.errors %}
            {% for error in form.login_log.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div >{{ form.password_log(rows=5, cols=60) }}</div>
        {% if form.password_log.errors %}
            {% for error in form.password_log.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    <hr/>
    <form action="/">
        {{ form.submit_main }}
    </form>
</body>
</html>