<!DOCTYPE html>
<!--
█─█─█──█─███
█─█─█──█─█
█─█─████─███
███─█──█───█
─█──█──█─███
-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hosting of Everything</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
  <header>
    <div class="Logo">
      <a href="{{url_for('main')}}" class="Link"><img src="static/vhs4.png" alt="" class="LogoImg"></a>
      <div class="LogoTxt">VideoHostingService</div>
    </div>
    <div class="midHead"></div>
    <div class="Menu">
      Меню
      <div class="inMenu">
        <a href="{{url_for('main')}}" class="Link"><div class="menuBtn"><div class="menuTxt">Главная</div><img src="static/main.png" class="menuImg"></div></a>
        {%if user %}
        <a href="{{url_for('cabinet')}}" class="Link"><div class="menuBtn"><div class="menuTxt">Мой Канал</div><img src="static/channel.png" class="menuImg"></div></a>
        <a href="{{url_for('viewroom')}}" class="Link"><div class="menuBtn"><div class="menuTxt">Мультискрин</div><img src="static/channel.png" class="menuImg"></div></a>
        <a href="{{url_for('upload')}}" class="Link"><div class="menuBtn"><div class="menuTxt">Загрузить Видео</div><img src="static/load.png" class="menuImg"></div></a>
        <a href="{{url_for('logout')}}" class="Link"><div class="menuBtn"><div class="menuTxt">Выйти</div><img src="static/out.png" class="menuImg"></div></a>
        {%else%}
        <a href="{{url_for('log')}}" class="Link"><div class="menuBtn"><div class="menuTxt">Войти</div><img src="static/log.png" class="menuImg"></div></a>
        <a href="{{url_for('reg')}}" class="Link"><div class="menuBtn"><div class="menuTxt">Регистрация</div><img src="static/reg.png" class="menuImg"></div></a>
        {%endif%}
      </div>
    </div>
  </header>
  <main>
    <div class="Content">
      {% block content %}{% endblock %}
    </div>
  </main>
  <footer>
    <div class="Foot">
      <div class="Contact"><a href="https://vk.com/shpteam" class="Link"><img src="static/vk.png" alt="" class="contImg"></a><img src="static/fb.png" alt="" class="contImg"></div>
      2018, 53rd Group
    </div>
  </footer>
</body>
</html>
