{% extends "base.html" %}
{% block content %}
    <div class="conbu">
        <div class="z1 z2 zEdge" onclick="func(this)">Информация о пользователе</div>
        <div class="z1" onclick="func(this)">Видео пользователя</div>
        {% if settings %}
            <div class="z1" onclick="func(this)">Настройки</div>
        {% endif %}
    </div>

    <div class="con con2">
            {% if usr.avatar_url() %}
            <div class="ava"><img class="cabAva" src=" {{ usr.avatar_url() }}"></div>
            {% endif %}
            <div class="ava2">
                <h1>{{ usr.name }}</h1>
                Информация о канале:
                <div class="info">
                    {{ usr.channel_info }}
                </div>
            </div>
    </div>

    <div class="con">
        {% for item in items %}
            <div class="video">
                <a href="/play/{{item.id}}" class="Link">
                    <img src="{{url_for('get_image', pid=item.id)}}" alt="" class="preview">
                </a>
                <div class="videoTxt">
                    <a href="/play/{{item.id}}" class="Link">
                        <p class="videoName">{{item.title}}</p>
                    </a>
                    <p class="videoView">{{ item.viewers | length }} просмотров</p>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if settings %}
            <div class="con">
              <form action="" method="post" enctype="multipart/form-data" >
                {{form.hidden_tag()}}
                    <div class="set">
                        {{ form.change_name.label }}
                        <br>
                        {{ form.change_name }}
                        {% if form.change_name.errors %}
                            {% for error in form.change_name.errors %}
                                <div style="color: red;">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="set">
                        {{ form.change_password.label }}
                        <br>
                        {{ form.change_password }}
                        {% if form.change_password.errors %}
                            {% for error in form.change_password.errors %}
                                <div style="color: red;">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="set avatar">
                    {{ form.avatar.label }}
		    <div class="Loader">
   			<div>{{ form.avatar }}</div>
    		    </div>
                    {% if form.avatar.errors %}
                        {% for error in avatar_form.avatar.errors %}
                            <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    </div>

                    <div class="set background">
	 	                  {{ form.background.label }}
		                  <div class="Loader">
   			                <div> {{ form.background }}</div>
    		              </div>
                      {% if form.background.errors %}
                        {% for error in avatar_form.background.errors %}
                            <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <span id="instructionBtn" class="Fact">Что такое Фон?</span>
                    <ol id="instruction" class="instr">
                        <p>Хотите иметь уникальный фон канала?
                          <br>
                          Просто создайте картинку с креативно заполненной рамкой (отступ сверху, слева и справа - 15%).
                        </p>
                    </ol>
                    <div clss="set">
                        {{ form.channel_info.label }}
                        <br>
                        {{ form.channel_info }}
                        {% if form.channel_info.errors %}
                            {% for error in form.channel_info.errors %}
                                <div style="color: red;">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <hr>
                    <div class="set b">
                        {{ form.current_password.label }}
                        {{ form.current_password }}
                        {% if form.current_password.errors %}
                            {% for error in form.current_password.errors %}
                                <div style="color: red;">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="set">
                        <input type="submit" class="buttondlc" value="Сохранить">
                    </div>
                  </form>
            </div>
    {% endif %}
<style>
    body
    {
        background-image:url({{ usr.background_url() }});
      	background-size:100% auto;
    }
</style>
<script>
    'use strict';

    function func(a){
        let x;
        let amas = document.getElementsByClassName('z1');
        for (let i=0; i<amas.length; i++){
            amas[i].classList.remove('z2');
            amas[i].classList.add('z1');
        }
        a.classList.add('z2');
        let acon = document.getElementsByClassName('con');
        for (let i=0; i<acon.length; i++){
            acon[i].classList.remove('con2');
            acon[i].classList.add('con');
            if (amas[i].classList.contains('z2')){
                x = i;
            }
        }
        acon[x].classList.add('con2');
    }

    $(document).ready(function(){
        $("#instructionBtn").click(function(){
        $("#instruction").slideToggle("slow",function(){});
    });});
</script>
 {% endblock %}
