{% extends "base.html" %}
{% block content %}
<div class="canal">
  <div class="solid">
    <div class="profile">
        <div class="profile__ava"><img src="{{ usr.avatar_url() }}" alt="" class="profile__ava-img"></div>
        <div class="profile__txt">
            <h2>{{usr.name}}</h2>
            <p>{{usr.channel_info}}</p>
        </div>
        {% if settings==False %}
        <div class="profile__sub">
          <span class="profile__sub-count" id="subCnt{{usr.id}}">{{ usr.subscribers|length }}</span>
          <button type="button" name="button" value="{{usr.id}}" class="profile__subscribe-btn">{% if subscribed %}Отписаться{% else %}Подписаться{% endif %}</button>
        </div>
        {%endif%}
    </div>

    <div class="tabs">
      <div value="about" class="tabs__tab tabs__tab_edge">Главная</div>
      <div value="videos" class="tabs__tab">Видео пользователя</div>
      {% if settings %}
        <div value="settings" class="tabs__tab">Настройки канала</div>
        <div value="settingsAcc" class="tabs__tab">Настройки аккаунта</div>
      {% endif %}
    </div>
  </div>

  <div class="section section_open" id="about">
    {% if last %}
    <h2>Последние видео</h2>
    {%endif%}
    {% for item in last|reverse %}
      <div class="video">
        <div class="video__preview">
          <a href="{{ url_for('play', vid=item.id) }}">
            <img src="{{url_for('get_image', pid=item.id)}}" alt="" class="video__preview-img">
          </a>
        </div>
        <div>
          <a href="{{ url_for('play', vid=item.id) }}">
            <p class="video__title" title="{{item.title}}">{{item.title}}</p>
          </a>
          <a href="/cabinet/{{ item.user.login }}">
            <p class="italic">
              {{ item.user.name }} <br>
              {{ item.viewers | length }} просмотров <br>
              {% if (now - item.date).days>1 %}
                {{item.date.date()}}
              {% elif (now - item.date).days==1 %} вчера
              {% elif (now - item.date).seconds/60< 60 %} {{((now - item.date).seconds/60)|int}} минут назад
              {% else %} {{((now - item.date).seconds/3600)|int}} часов назад
              {%endif%}
            </p>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="section" id="videos">
    {% for item in items|reverse %}
    <div class="video">
      <div class="video__preview">
        <a href="{{ url_for('play', vid=item.id) }}">
          <img src="{{url_for('get_image', pid=item.id)}}" alt="" class="video__preview-img">
        </a>
      </div>
      <div>
        <a href="{{ url_for('play', vid=item.id) }}">
          <p class="video__title" title="{{item.title}}">{{item.title}}</p>
        </a>
        <a href="/cabinet/{{ item.user.login }}">
          <p class="italic">
            {{ item.user.name }} <br>
            {{ item.viewers | length }} просмотров <br>
            {% if (now - item.date).days>1 %}
              {{item.date.date()}}
            {% elif (now - item.date).days==1 %} вчера
            {% elif (now - item.date).seconds/60< 60 %} {{((now - item.date).seconds/60)|int}} минут назад
            {% else %} {{((now - item.date).seconds/3600)|int}} часов назад
            {%endif%}
          </p>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if settings %}
    <div class="section" id="settings">
      <h3>Данные канала</h3>
      <form action="" method="post" enctype="multipart/form-data" >
        {{form.hidden_tag()}}
        <input type="hidden" name="form-name" value="form">
        <div class="section__set">
          {{ form.change_name.label }}
          <br>
          {{ form.change_name }}
          {% if form.change_name.errors %}
            {% for error in form.change_name.errors %}
              <div style="color: red;">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
        <div clss="section__set">
          {{ form.channel_info.label }}
          <br>
          {{ form.channel_info }}
          {% if form.channel_info.errors %}
            {% for error in form.channel_info.errors %}
              <div style="color: red;">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>

        <hr>
        <h3>Оформление</h3>
        <div class="section__set">
          {{ form.avatar.label }}
		      <div class="loader">
   			    <div>{{ form.avatar }}</div>
          </div>
          {% if form.avatar.errors %}
            {% for error in avatar_form.avatar.errors %}
              <div style="color: red;">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="section__set">
	 	      {{ form.background.label }}
		      <div class="loader">
   			    <div> {{ form.background }}</div>
    		  </div>
          {% if form.background.errors %}
            {% for error in avatar_form.background.errors %}
              <div style="color: red;">{{ error }}</div>
            {% endfor %}
          {% endif %}
          <span id="instructionBtn" class="fact">Что такое Фон?</span>
          <ol id="instruction" class="instr">
            <p>
              Хотите иметь уникальный фон канала?
              <br>
              Просто создайте картинку с креативно заполненной рамкой (отступ 15%).
            </p>
          </ol>
        </div>
        <hr>
        <div class="section__set">
          <b>
          {{ form.current_password.label }}
          {{ form.current_password }}
          {% if form.current_password.errors %}
            {% for error in form.current_password.errors %}
              <div style="color: red;">{{ error }}</div>
            {% endfor %}
          {% endif %}
          </b>
        </div>
        <div class="section__set">
          {{ form.submit_changes }}
        </div>

      </form>
    </div>
    <div class="section" id="settingsAcc">
      <h3>Настройка данных аккаунта</h3>
      <form action="" method="post" enctype="multipart/form-data" >
        {{form_acc.hidden_tag()}}
        <input type="hidden" name="form-name" value="form_acc">
        <div class="section__set">
          {{ form_acc.change_password.label }}
          <br>
          {{ form_acc.change_password }}
          {% if form_acc.change_password.errors %}
            {% for error in form_acc.change_password.errors %}
              <div style="color: red;">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
        <hr>
        <div class="section__set">
          <b>
          {{ form_acc.cur_password.label }}
          {{ form_acc.cur_password }}
          {% if form_acc.cur_password.errors %}
            {% for error in form_acc.cur_password.errors %}
              <div style="color: red;">{{ error }}</div>
            {% endfor %}
          {% endif %}
          </b>
        </div>
        <div class="section__set">
          {{ form_acc.save_changes }}
        </div>
      </form>
    </div>
  {% endif %}
</div>
<style>
    body
    {
        background-image:url({{ usr.background_url() }});
      	background-size:100% 100%;
    }
    footer
    {
      display: none;
    }
    @media (max-width:570px)
    {
      body
      {
        background-size: auto;
      }
    }
</style>
<script>
    $(document).ready(function(){
      $('.tabs__tab').click(function(){
        $('.tabs__tab').removeClass('tabs__tab_open');
        this.classList.add('tabs__tab_open');
        $('.section').removeClass('section_open');
        var id=$(this).attr('value');
        $('#' + id).addClass('section_open');
      });
      $('.tabs__tab').get({{tab}}).click();
    });

    $(document).ready(function(){
        $("#instructionBtn").click(function(){
        $("#instruction").slideToggle("slow",function(){});
    });
    });
</script>
<script src="{{ url_for('static', filename='subs.js') }}"></script>
 {% endblock %}
