{% extends "base.html" %}
{% block content %}

<div id="searcher_block" class="yt-search__searcher">
    <div class="yt-search__searcher__input">
        <input class="yt-search__searcher__input__field" id="search">
    </div>

    <div class="yt-search__searcher__submit">
        <button class="yt-search__searcher__submit__field" id="submit">Найти</button>
    </div>
</div>

<br>
<br>
<br>

<div class="section section__open" id="videos_block">

</div>

<script src="{{url_for('static', filename='js/multiscreen/youtube_search.js')}}"></script>

{% endblock %}