{% extends "base.html" %}
{% block content %}

<div class="yt-search_searcher">
    <div class="yt-search_searcher_input">
        {{ youtube_search.search(class_="yt-search_searcher_input__field") }}
    </div>

    <div class="yt-search_searcher_submit">
        {{ youtube_search.submit(class_="yt-search_searcher_submit__field") }}
    </div>
</div>

<br>
<br>
<br>

<div id="videos_block">

</div>

<script src="{{url_for('static', filename='youtube_search.js')}}"></script>
<script src=https://momentjs.com/downloads/moment-with-locales.min.js></script>

{% endblock %}