{% extends "base.html" %}
{% block content %}
<h1>Что же такое просмотр на нескольких устройствах?</h1>
Вы хотите посмотреть видео с друзьями, но у вас есть только несколько телефонов с маленькими неудобными экранами?<br>
Теперь благодаря нашему сайту у вас есть возможность смотреть видео на большом экране! Этот экран будет составлен из ваших телефонов и других устройств.<br>
Просто <a href="{{url_for('createroom')}}">создайте комнату</a>, позовите в неё друзей и следуйте дальнейшим инструкциям.<br>
Это так просто, что даже не надо регистрироваться!
{% endblock %}
