{% extends "base.html" %}
{% block content %}
{% for item in items %}
    <a href="play/{{item.id}}" class="Link"><div class="video"><img src="{{url_for('get_image', pid=item.id)}}" alt="" class="preview"><div class="videoTxt"> <p class="videoName">{{item.title}}</p></a> <p class="videoView">{{item.views}} просмотров</p></div> </div>
{% endfor %}


<!--<div class="video">-->
    <!--<img src="static/prev.png" alt="" class="preview">-->
    <!--<div class="videoTxt">-->
        <!--<a href="play" class="Link"><p class="videoName">ШОК! 1991+ ЕЛЬЦИН ОКАЗАЛСЯ...</p></a>-->
        <!--<p class="videoView">31 тыс. просмотров</p>-->
        <!--<p class="videoAth">Conspirasy</p>-->
    <!--</div>-->
<!--</div>-->
{% endblock %}
