{% extends "base.html" %}
{% block content %}
    <video id="my-video" class="video-js" poster="{{url_for('get_image', pid=vid)}}"
    data-setup='{"controls": true, "autoplay": false, "preload": "auto"}'>
         <source src="{{url_for('get_video', vid=vid)}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
<p class="videoTitle">{{ video.title }}</p>
<p class="vidViews">Просмотры: {{ video.viewers | length }}</p>
<br>
<div class="infoOne">
<div>
    <img src="../static/a.png" alt="" class="authAva">
    <div class="inAuth">    
        <b><a href="{{url_for('cabinet', usr=video.user_login)}}" class="Link">{{video.user.name}}</a></b>
        <p class="videoDate" id="Dating">{{video.date}}</p>
    </div>
</div>
</div>

{%if user%}
<div class="liking">
        <div class="lineLike">        
            <div id="likSh" class="likeShow"></div>
            <div id="disSh" class="disShow"></div>
        </div>
        <div class="dlc">
            <input class="Like" id="like" name="like" type="submit" value="Нравится">
            <span class="lik" id="lik">{{ video.likes | length }}</span>
            <input class="Dislike" id="dislike" name="dislike" type="submit" value="НЕ нравится">
            <span class="dis" id="dis">{{ video.dislikes | length }}</span>
        </div>
</div>
{%endif%}

<div class="tags">
{% for tag in video.tags %}
<span class="Tag">
    {{ '#'+tag.text }}
</span>
{% endfor %}
</div>

{%if not user%}
<br><a href="{{url_for('log')}}" class="Link"><b>Войдите</b></a>, чтобы оценить видео
{%endif%}

<div class="cSect">

<form action="" method="POST">
    {{ form.submit }}
</form>

<p>Комментарии</p>
{%if user %}

<textarea id="txtPlate" class="commArea" maxlength="200"></textarea>
<br>
<input type="submit" value="Запостить" id="addC">
{%endif%}

<div id="CSect">
{% for comment in video.comments|sort(attribute="id")|reverse %}
<div class="Comment">
    <img src="../static/a.png" alt="" class="commAva">
    <div class="commTxt">
        <p class="commAuth"><a href="{{url_for('cabinet', usr=comment.user.login)}}" class="Link">{{ comment.user.name }}</a></p>
        <p>{{ comment.text }}</p>
    </div>
</div>
{% endfor %}
</div>
</div>

<script src="{{ url_for('static', filename='video.js') }}"></script>
<script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
<style>
    .Like
    {
        {%if lkd!=1 %}
            background-image:url({{ url_for('static', filename='lik1.png') }});
        {%else%}
            background-image:url({{ url_for('static', filename='lik1L.png') }});
        {%endif%}
    }
    .Dislike
    {
        {%if lkd!=-1 %}
            background-image:url({{ url_for('static', filename='dis1.png') }});
        {%else%}
            background-image:url({{ url_for('static', filename='dis1D.png') }});
        {%endif%}
    }

    .Like:hover,.Dislike:hover
{
    background-size:41%;
}    

    .Like:hover
    {
        background-image:url({{ url_for('static', filename='lik1H.png') }});
    }
    .Dislike:hover
    {
        background-image:url({{ url_for('static', filename='dis1H.png') }});
    }
</style>
{% endblock %}

