{% extends "base.html" %}
{% block content %}
    <video id="my-video" class="video-js" controls preload="auto"  data-setup="{}">
         <source src="{{url_for('get_video', vid=vid)}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
<p class="videoTitle">{{ video.title }}</p>

<div class="infoOne">
<p class="videoDate" id="Dating">Добавлено {{video.date}}</i></p>
<p>Просмотры: {{ video.viewers | length }}</p>
</div>

{%if user%}
<form method="post" class="liking">
    {{ form.hidden_tag() }}
    <div>
        <div id="likSh" class="likeShow"></div>
        <div id="disSh" class="disShow"></div>
        <br>
        <div class="dlc">
        {{ like_form.like(class="Like") }}
        <span id="lik">{{ video.likes | length }}</span>
        {{ dislike_form.dislike(class="Dislike") }}
        <span id="dis">{{ video.dislikes | length }}</span>
        </div>
    </div>
</form>
{%endif%}

<div class="tags">
{% for tag in video.tags %}
<span class="Tag">
    {{ '#'+tag.text+' ' }}
</span>
{% endfor %}
</div>

{%if not user%}
<br><a href="{{url_for('log')}}" class="Link"><b>Войдите</b></a>, чтобы оценить видео
{%endif%}
<div id="CSect" class="cSect">
<p>Комментарии</p>
{%if user %}

<textarea id="txtPlate" class="commArea"></textarea>
<br>
<input type="submit" value="Запостить" id="addC">
{%endif%}

{% for comment in video.comments %}
<div class="Comment">
    <img src="../static/a.png" alt="" class="commAva">
    <div class="commTxt">
        <p>{{ comment.user.login }}</p>
        <p>{{ comment.text }}</p>
    </div>
</div>
{% endfor %}
</div>
<script src="{{ url_for('static', filename='video.js') }}"></script>
<script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
<script>
    (function () {
    var Dator=document.getElementById("Dating");
    var Date=Dator.innerHTML;
    Date=Date.substr(0,20);
    Dator.innerHTML=Date;
    })();
</script>
<style>
    .Like,.Dislike
    {
        background-size:40%;
        background-repeat:no-repeat;
        background-position:center;
    }
    .Like
    {
        {%if lkd!=1 %}
            background-image:url({{ url_for('static', filename='lik1.png') }});
        {%else%}
            background-image:url({{ url_for('static', filename='lik1L.png') }});
        {%endif%}
    }
    .Dislike
    {
        {%if lkd!=-1 %}
            background-image:url({{ url_for('static', filename='dis1.png') }});
        {%else%}
            background-image:url({{ url_for('static', filename='dis1D.png') }});
        {%endif%}
    }
    .Like:hover,.Dislike:hover
    {
        background-size:41%;
    }
    .Like:hover
    {
        background-image:url({{ url_for('static', filename='lik1H.png') }});
    }
    .Dislike:hover
    {
        background-image:url({{ url_for('static', filename='dis1H.png') }});
    }
</style>
{% endblock %}
