{% extends "base.html" %}
{% block content %}
<div class="videoShow">
    <video height="400" controls="controls">
         <source src="{{url_for('get_video', vid=vid)}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

</div>
<p class="videoTitle">{{video.title}}</p>
<p class="videoDate">Добавлено {{video.date}}</p>
{%if user %}
<form action="/" method="POST">
  <div>{{ form.message.label}}</div>
        <div>{{ form.message(rows=5, cols=60) }}</div>
        {% if form.message.errors %}
            {% for error in form.message.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {{ form.submit }}
    </form>

{%else%}
<a href="{{url_for('log')}}" class="Link"><b>Войдите</b></a>, чтобы комментировать
{%endif%}
<p>Просмотры: {{video_views}}</p>
<p>Комментарии</p>
<div class="Comment">
    <img src="../static/a.png" alt="" class="commAva">
    <div class="commTxt">
        <p>KoolBoi</p>
        <p>Ничего сибеее</p>
    </div>
</div>
<div class="Comment">
    <img src="../static/a.png" alt="" class="commAva">
    <div class="commTxt">
        <p>MLG_QuickScoper</p>
        <p>Так и зналл!</p>
    </div>
</div>
<div class="Comment">
    <img src="../static/a.png" alt="" class="commAva">
    <div class="commTxt">
        <p>NazBoll</p>
        <p>нет слофф</p>
    </div>
</div>
{% endblock %}
