{% extends "base.html" %}
{% block content %}
{% if room.capitan_id == user.id %}
<h4>Upload calibrating image</h4>
<form action="" method="post" enctype="multipart/form-data">
    <div class="Loader"><div> {{ image_form.image }} </div></div>
    <div> {{ image_form.submit }} </div>
</form>
<form action="" method="post">
    {{Room_Form.hidden_tag()}}
    <a href="{{calibrate_url}}">{{ Room_Form.submit }}</a>
</form>
<p><a href="{{result_url}}">result</a>
<hr>
{% else %}
<h1>Комната</h1>
{% endif %}
{% for i in users %}
<p>{{i.login}}</p>
{% endfor %}
{% if room.capitan_id != user.id %}
    <script>
        let speed=3000;
        setTimeout(function step(){
            $.ajax({
                       url:"/askAct",
                       type:"GET",
                       dataType:"text",
                       success:function(response)
                       {
                            if(response=="calibrate")window.location ="{{calibrate_url}}";
                       },
                       error:function(){}
                    });
            setTimeout(step,speed);
        },speed);
    </script>
{% endif %}
{% endblock %}
