{% extends "base.html" %}
{% block content %}
<h1>Комната {{room.name}}</h1>
<div class="video-control">
  {% if count > 1 %}
    <h5>Количество участников: <span id="countUsers">{{count}}</span></h5>
  {% else %}
    <p id="countUsers" data-tour-index="0" data-tour-description="Пусть ваши друзья зайдут в комнату.">Пригласите участников в комнату</p>
  {% endif %}
  {% if room.capitan_id == anon.id %}
    <hr>
    <button id="calibrate_btn" class="video-control__btn inline-block"  data-tour-index="3" data-tour-description="Составьте большой экран из устройств участников. <br> Начните калибровку.">Калибровка</button>
    <div class="inline-block inline-block_edge">
      <button id="show_res" class="video-control__btn video-control__btn_round inline-block {% if not room.video_id and not room.is_playing_youtube %}video-control__btn_disabled{% endif %}" data-tour-index="5" data-tour-description="Если вас устраивает получившаяся карта устройств, нажмите на play для начала демонстрации.">
        <span class="fa fa-play video-control__img" id="show_res_img"></span>
      </button>
      <button id="stop_res" class="video-control__btn video-control__btn_round inline-block {% if not room.video_id and not room.is_playing_youtube %}video-control__btn_disabled{% endif %}">
        <span class="fa fa-stop video-control__img" id="stop_res_img"></span>
      </button>
    </div>
    <button id="refresh_btn" class="video-control__btn inline-block inline-block_edge">Обновить устройства</button>
  {% else %}
    <hr>
    <button class="video-control__btn fullscreen-switcher">Перейти в полноэкранный режим</button>
  {% endif %}
</div>

{% if room.capitan_id == anon.id%}
    <div class="fit" data-tour-index="4" data-tour-description="Сфотографируйте устройства и инициализируйте фотографию.">
    <h5>Загрузите калибровочное фото</h5>
    <form id="image_form" action="" method="post" enctype="multipart/form-data">
        <div class="loader">
            <div class="loader__body">
                <input id="image" name="image" type="file" accept="image/*" capture class="loader__file">
                <button class="loader__btn" type="button">Выбрать фото</button>
            </div>
        </div>
        {% if image_form.image.errors %}
            {% for error in image_form.image.errors %}
                <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div id="Calibr"> {{ image_form.submit }} </div>
        {% if map_ex %}
        {% endif %}
        <p id="formMessage" class="message"></p>
    </form>
    <img id="map" {% if map_ex %}src="{{url_for('get_multi', pid=room_map)}}" class="parsing-map"{% else %} class="hidden"{% endif %}>
    </div>
{% endif %}

{% if room.capitan_id == anon.id %}
<hr>
<div class="fit" data-tour-index="1" data-tour-description="Выберите видео.">
<h3>Выбрать видео</h3>
  <div class="switcher" id="video_switcher" data-tour-index="2" data-tour-description="Либо с нашего сайта, либо с YouTube.">
    <div class="switcher__arm">
      <label class="switcher__label" id="go_to_youtube">
        <div class="switcher__pill">С сайта</div>
        <input class="switcher__radio" type="radio" name="videoMode" value="youtube">
      </label>
    </div>
    <div class="switcher__arm switcher__arm_inv">
      <label class="switcher__label">
        <div class="switcher__pill switcher__pill_right">YouTube</div>
        <input class="switcher__radio" type="radio" name="videoMode" value="self" checked>
      </label>
    </div>
  </div>
    <div id="choose_site">
      {% if room.video_id %}
        <div class="video">
          <div class="video__preview">
            <a href="{{ url_for('play', vid=room.video_id) }}">
              <img src="{{url_for('get_image', pid=room.video_id)}}" alt="" class="video__preview-img">
            </a>
          </div>
        </div>
      {% endif %}
      <form action="{{url_for('choose_video', room_id=room.id)}}">
          <button>Выбрать видео для демонстрации</button>
      </form>
    </div>
    <div id="choose_yt">
    </div>
    </div>
    <hr>
    <button type="button" id="startTour" class="button button_icon button_icon_eye">
      <span class="button__text">Инструкция</span>
    </button>
{% endif %}


{% if room.capitan_id != anon.id %}
  {% if room.is_playing_youtube == True %}
      <div class="result" id="ResultVideoShell">
        <div id="ResultVideo" class="result__video"></div>
      </div>
  {% elif room.video_id %}
      <div class="result" id="ResultVideoShell">
        <video class="result__video" id="ResultVideo"
               src="{{url_for('get_video', vid=room.video_id)}}" preload="auto"></video>
      </div>
  {% endif %}
{% endif %}
<script src="{{ url_for('static', filename='js/multiscreen/fullscreen.js') }}"></script>
<script src="{{ url_for('static', filename='js/slide.js') }}"></script>
<script>
    var ROOM_COLOR = '{{ anon.color }}';
    var ROOM_ID = {{ room.id }};
    var from_youtube = {{ 'true' if room.is_playing_youtube else 'false' }};
</script>
{% if room.capitan_id == anon.id %}
    <script src="{{ url_for('static', filename='js/switcher.js') }}"></script>
    <script src="{{ url_for('static', filename='js/multiscreen/tour.js') }}"></script>
    <script src="{{ url_for('static', filename='js/multiscreen/captain.js') }}"></script>
{% else %}
    <script src="{{ url_for('static', filename='js/multiscreen/user.js') }}"></script>
{% endif %}
{% endblock %}
