{% extends "base.html" %}
{% block content %}
<div class="mid mid__wider">
<h1>Подписки</h1>
{% for sub in subs %}
<div class="subscription">
    <div class="subscription_ava"><img src="{{ sub.avatar_url() }}" alt="" class="subscription_ava__img"></div>
    <div class="subscription_txt">
        <h2><a href="{{url_for('cabinet', usr=sub.login)}}">{{sub.name}}</a></h2>
        <p>{{sub.channel_info}}</p>
    </div>
    <button type="button" name="button" value="{{sub.id}}" class="subscription__btn subscribe-btn">Отписаться</button>
</div>
</div>
{% endfor %}
<script src="{{ url_for('static', filename='subs.js') }}"></script>
{% endblock %}
