{% extends "base.html" %}

{% block content %}
    <title>Upload new File</title>
    <h1>Загрузите видео</h1>
    <p>Введите название видео</p>
    <form action="" method="post" enctype="multipart/form-data">
        <div> {{ form.title }} </div>
        {% if form.title.errors %}
            {% for error in form.title.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div> {{ form.video.label }} </div>
        <p>(Разрешённые видео форматы
        {% for format in formats %}
            .{{format}}
        {% endfor %}
        )</p>
        <div class="Loader"><div> {{ form.video }} </div></div>
        <div> <button type='button' id="geotag_is_needed">Прикрепить геотег</button></div>
        <br>
        <div style="display:none;" id="map-info"><p>Для добавления новых тегов дважды нажмите на карту. Для смены цвета тега кликните по нему.
                Красные теги перемещаются при клике по карте, любые теги можно двигать перетаскиванием.
                Преред добавлением тега рекомендуется сделать все теги синими.
                Для удаления тега щёлкните по нему правой кнопкой мыши.</p></div>
        <div id="map"></div>
        <div> {{ form.geotag_data }}</div>
        {% if form.geotag_data.errors %}
            {% for error in form.geotag_data.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div id="map"></div>
        <div style="color: red;"> {{ error }} </div>
        <div>{{ form.tags.label }}</div>
        <div>{{ form.tags(rows=5, cols=60) }}</div>
        {% if form.tags.errors %}
            {% for error in form.tags.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div> {{ form.submit }} </div>
    </form>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
{% endblock %}
