{% extends "base.html" %}

{% block content %}
    <title>Upload new File</title>
    <h1>Загрузите видео</h1>
    <p>Введите название видео</p>
    <form action="" method="post" enctype="multipart/form-data">
        <div> {{ form.title }} </div>
        {% if form.title.errors %}
            {% for error in form.title.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div> {{ form.video.label }} </div>
        <p>(Разрешённые видео форматы
        {% for format in formats %}
            .{{format}}
        {% endfor %}
        )</p>
        <div class="Loader"><div> {{ form.video }} </div></div>
        <input name="tags" placeholder="write some tags" value="my video">
        <div> {{ form.geotag_is_needed.label }} {{ form.geotag_is_needed }}</div>
        <div> {{ form.geotag_data }}</div>
        <div id="map"></div>
        <br>
        <div style="color: red;"> {{ error }} </div>
        <div> {{ form.submit }} </div>
    </form>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
    <script src="{{ url_for('static', filename='tagify.js') }}"></script>
    <script>
        var input = document.querySelector('input[name=tags]'),
        tagify = new Tagify( input );
    </script>

{% endblock %}
