{% extends "base.html" %}

{% block content %}
    <title>Upload new File</title>
    <h1>Загрузите видео</h1>
    <p>Введите название видео</p>
    <form action="" method="post" enctype="multipart/form-data">
        <div> {{ form.title }} </div>
        {% if form.title.errors %}
            {% for error in form.title.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div> {{ form.video.label }} </div>
        <div> {{ form.video }} </div>
        <div> {{ form.submit }} </div>
    </form>
{% endblock %}
