{% extends "base.html" %}
{% block content %}
<h5>Присоединиться к комнате по названию</h5>
    <form action="" method="post">
    {{join_form.hidden_tag()}}
        <div>{{ join_form.token.label}}</div>
        <div>{{ join_form.token }}</div>
        {% if join_form.token.errors %}
            {% for error in join_form.token.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {{ join_form.submit }}
    </form>
    <hr>
    {% if rooms %}
    <h5>Все комнаты:</h5>
    {% for room in rooms %}
        <p><a href="{{url_for('room', room_id=room.id)}}">{{room.name}}</a>
    {% endfor %}
    {% endif %}
{% endblock %}
